{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<script>
    func
</script>
<div class="col-9 col-md-12 col-mx-auto">
    <h1>{{ name }} <small class="label">{{ id }}</small></h1>
    <span class="chip">{{ year }}</span><span class="chip">{{ genre }} </span>
    <button class="btn btn-primary" onclick="toggle_ranglist()">
        Toevoegen aan ranglist
      </button>
    <div>
        <blockquote>
            <p>{{ description }}</p>
        </blockquote>
       <mark>Season {{ seasons }}</mark>
       <cite>Episode {{ added_by }} </cite>
    </div>
</div>


{% endblock %}