{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}
{% include 'addm.html' %}
{% block content %}
</script>

<div class="col-9 col-md-12 col-mx-auto">
    <h1>{{ name }} <small class="label">{{ id }}</small></h1>
    <span class="chip">{{ year }}</span><span class="chip">{{ genre }} </span>
    <button class="btn btn-primary" onclick="activate_modal('add_modal')">
        Toevoegen aan ranglist
    </button>
    <button class="btn btn-primary" onclick="deleteSeries()">Delete</button>
    <div>
        <blockquote>
            <p>{{ description }}</p>
        </blockquote>
        <mark>This series has {{ seasons }} seasons</mark><br>
        <cite>Added by {{ added_by }} </cite>
    </div>
</div>

<script>
    // To be a little fancy, we use Fetch API to delete
    // a series entry
    function deleteSeries() {
        var url = window.location.toString();
        var current_id = url.split('/').filter(e => e).pop()
        fetch(`./delete/${current_id}`)
            .then(response => response.json())
            .then(setTimeout(() => { document.location.href = "/"; }, 100));
    }
</script>
{% endblock %}