{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<h1>Rankinglists</h1>
<th><b><p style="text-align:center;"><kbd>Check out your rankinglists!</kbd></p></b></th>
<div class="columns">
    <div class="column col-6 col-mx-auto col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>><b>Ranklist name</b></th>
                    <th><b>Creator</b></th>
                </tr>
            </thead>
            <tbody>
                {% for id, name, creator in rankings %}
                <tr>
                    <td><a href="./{{id}}">{{ name }}</a></td>
                    <td>{{ creator }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}