{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<h1>Ranglists</h1>

<table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>genre</th>
        <th>release date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="active">
        <td>BLANK</td>
        <td>Crime, Drama</td>
        <td>14 October 1994</td>
      </tr>
    </tbody>
  </table>
  

{% endblock %}