{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<h1>Ranglists</h1>
<div class="columns">
    <div class="column col-6 col-mx-auto col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Ranglist name</th>
                    <th>Creator</th>
                </tr>
            </thead>
            <tbody>
                {% for id, name, creator in rankings %}
                <tr>
                    <td><a href="./{{id}}">{{ name }}</a></td>
                    <td>{{ creator }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}