{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-stop"></i>
    </div>
    <p class="empty-title h2">500</p>
    <p class="empty-subtitle">Page not found</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="/">Go to homepage</a>
    </div>
</div>
{% endblock %}