{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="columns">
        <div class="column col-12">
            <h1>Add a series</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column col-9">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.title.label }}{{ form.title() }}
                {{ form.submit() }}
            </form>
        </div>
    </div>
</div>

{% endblock %}
