<div class="container">
    <div class="columns">
        <div class="column col-lg">
            <header class="navbar">
                <div class="navbar-section">
                    <a href="{{ url_for('base.index') }}" class="navbar-brand mr-2">placeholderName</a>
                    <a class="btn btn-link" href="{{ url_for('series.index') }}">Series</a>
                    
                </div>
                <div class="navbar-section">
                    <a class="btn btn-primary" href="{{ url_for('secure.register') }}">Sign up</a>
                    <a class="btn btn-secondary" href="{{ url_for('secure.login') }}">Login</a>
                </div>
        </div>
        </header>
    </div>
</div>