{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="form-horizontal">
        <form method="POST">
            {{ register_form.hidden_tag() }}
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    {{ register_form.email.label(class="form-label", id="register_email") }}
                </div>
                <div class="col-9 col-sm-12">
                    {{ register_form.email(class="form-input", id="register_email_label") }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    {{ register_form.username.label(class="form-label", id="register_username_label") }}
                </div>
                <div class="col-9 col-sm-12">
                    {{ register_form.username(class="form-input", id="register_username") }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    {{ register_form.password.label(class="form-label", id="register_password_label") }}
                </div>
                <div class="col-9 col-sm-12">
                    {{ register_form.password(class="form-input", id="register_password") }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-3 col-sm-12">
                    {{ register_form.pass_confirm.label(class="form-label", id="register_passconf_label") }}
                </div>
                <div class="col-9 col-sm-12">
                    {{ register_form.pass_confirm(class="form-input", id="register_passconf") }}
                </div>
            </div>
            <div class="form-group">
                {{ register_form.submit(class="btn btn-primary", id=" ") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}