{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<div class="columns">
    {% for title, description, id in titlelist %}
    <div class="column col-2">
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">{{ title }}</div>
            </div>
            <div class="card-body">
                {{ description }}
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="./{{ id }}">Go to series</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}