{% extends "base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block script %}{{ super() }}{% endblock %}
{% block style %}{{ super() }}{% endblock %}

{% block content %}
<div class="col-9 col-md-12 col-mx-auto">
    <h1>{{ name }} <small class="label">{{id}}</small></h1>
    <span class="chip">{{ year }}</span><span class="chip">{{ genre }}</span>
    <div>
        <blockquote>
            <p>{{ description }}</p>
        </blockquote>
        {{ seasons }}
        {{ added_by }}
    </div>
</div>

{% endblock %}