{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="columns">
        <div class="column col-12">
            <h1>Login</h1>
        </div>
    </div>
    <div class="columns">
        <div class="column col-sm-12 col-6 col-mx-auto">
            <div class="form-horizontal">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            {{ form.email.label(class="form-label", id=" ") }}
                        </div>
                        <div class="col-9 col-sm-12">
                            {{ form.email(class="form-input", id=" ") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            {{ form.password.label(class="form-label", id="") }}
                        </div>
                        <div class="col-9 col-sm-12">
                            {{ form.password(class="form-input", id="password") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-switch">
                            <input id="checkbox_pw" type="checkbox">
                            <i class="form-icon"></i> Show password
                        </label>
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary", id="submit") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}