{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class='container'>
    <div class="columns">
        <div class="column col-12">
            <h1>Your account </h1>
        </div>
    </div>
    <div class="columns">
        <div class="column col-6 col-sm-12 col-mx-auto">
            <div class="panel">
                <div class="panel-header text-center">
                    <figure class="avatar avatar-lg" data-initial="{{ current_user.username[0].upper() }}"></figure>
                    <div class="panel-title h5 mt-10">{{ current_user.username }}</div>
                    <div class="panel-subtitle">Member</div>
                </div>
                <div class="panel-body">
                    <div class="tile tile-centered">
                        <div class="tile-content">
                            <div class="tile-title text-bold">E-mail</div>
                            <div class="tile-subtitle">{{ current_user.email }}</div>
                        </div>
                    </div>
                    <div class="tile tile-centered">
                        <div class="tile-content">
                            <div class="tile-title text-bold">Name</div>
                            <div class="tile-subtitle">{{ current_user.username }}</div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-primary btn-block" href="/logout">Log out</a>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}